@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;

    --primary-bg-collor: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;
    
    --title-color: #f0f0f0;
    --link-color: #9a9a9c;
    --icon-color: #C7c8c9;
    --text-color: #C7c8c9;
}

:root[data-theme='light'] {
    --primary-color: #0b0b0f;

    --primary-bg-collor: #e9e9e9;
    --secondary-bg-color: #c7c8c9;
    --border-color: #c7c8c9;
    
    --title-color: #0b0b0f;
    --link-color: #2b292e;
    --icon-color: #2b292e;
    --text-color: #56575a;
}

:root[data-theme='dark'] .header__brand {
    background-image: url(/assets/favicon_io-dark/favicon-32x32.png);
}

:root[data-theme='light'] .header__brand {
    background-image: url(/assets/favicon_io-light/favicon-32x32.png);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    color: var(--text-color);
}

body {
    background-color: var(--primary-bg-collor);
    color: var(--text-color);
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

i {
    font-size: 3rem;
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.header__toggle{
    display: flex;
    justify-content: flex-end;
}

.header__brand {
    height: 3.25rem;
    width: 3.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#toggleTheme {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: .4s ease-in-out;
}

.menu {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-collor);
}

.menu__item {
    width: 100%;
}

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu-mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.menu__icon, .menu__text{
    color: var(--text-color)
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text{
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.menu-principal {
    gap: 1rem;
}

.header__nav {
    display: none;
}

/* Introdução */
h1, h2, h3 {
    font-family: "League Spartan", sans-serif;;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}

h1 {
    font-size: 2.4rem;
    color: var(--title-color);
}

p {
    font-size: 1.25rem;
    text-align: justify ;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
    gap: 2rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.menu--social {
    display: flex;
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1.5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

.btn--primary span{
    color: var(--primary-color);
}

/* Habilidades*/
.skills {
    display: flex;
    flex-direction: column;
    padding: 2.25rem 1rem 2rem 1rem;
    background-color: var(--secondary-bg-color);
}

.skills h2{
    text-transform: none;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .5rem;
}

.skills__item{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 4.8rem;
    width: 4.8rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--link-color);
    border-radius: 50%;
}

.skills__item img{
    width: 2.8rem;
    height: 2.8rem;
}


/* Rodapé */
.footer p{
    margin-top: 5rem;
    font-size: .875rem;
    text-align: center;
}

.footer a{
    color: var(--link-color);
}

.footer a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

@media (min-width: 768px) {
    .header {
        background-color: var(--primary-bg-collor);
        width: 100vw;
        position: fixed;
        padding: 1rem 4rem 6rem;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--primary-bg-collor);
    }
    
    .nav--mobile{
        display: none;
    }

    .header__nav{
        display: flex;
    }

    .header__nav,
    .header__toggle{
        min-width: 30%;
    }

    .main__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        padding: 8rem 6rem 4rem 6rem;
    }

    h1 {
        font-size: 6.35rem;
        align-items: flex-start;
    }

    h2  {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 1200px){
    main {
        padding: 12rem 6rem 2rem;
    }
    .main__content .btn {
        width: auto
    }

    .skills {
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }
    
    .skills__item{
        height: 6rem;
        width: 6rem;
        padding: 2rem;
        margin: 0 2rem 2rem;
    }

    .skills h2 {
        vertical-align: middle;
    }

    .skills__item {
        border: none;
        vertical-align: middle;
    }

    .skills__item img {
        height: 6rem;
        width: 6rem;
        margin-bottom: 2rem;
    }

}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}

